html {
  height: 99%;
}

body {
  padding: 0px;
  border: 0px;
  margin: 0px;
  box-sizing: border-box;

  background-color:rgb(78, 166, 233);
  color: rgb(74, 44, 95);
  min-height: 95%;
  width: 100%;
  font-family: Courier New, Courier, monospace;
  font-size: 3rem;
}

#wrapper {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

#headBox {
  display: inline-block;
}

#logoPic {
  display: inline-block;
  background-color: rgb(211, 243, 255);
  border: 3px solid rgb(5, 19, 150);
  border-radius: 6px;
}

#headBar {
  display: inline-block;
  position: relative;
  font-size: 2rem;
  top: -2.5rem;
}


fieldset {
  border: 3px solid rgb(6, 25, 129);
  border-radius: 6px;
  margin-bottom: 1rem;
}

.radioLabel {
  padding-left: 1rem;
}

input[type='radio'] { 
  transform: scale(2); 
}

button {
  background-color: rgb(6, 78, 78);
  color: rgb(212, 182, 240);
  font-family: fantasy;
  font-size: 4rem;
  border: 3px solid rgb(179, 235, 225);
  border-radius: 6px;
}

#tokenField {
  background-color: rgb(121, 204, 142);
  color: rgb(5, 66, 5);
  font-family: fantasy;
  font-size: 4rem;
  border: 3px solid rgb(2, 48, 39);
  border-radius: 6px;
}